body {
  main {
    .topnav {
      .hom {
        img {

        }
      }

      .change-lang {

      }

      .flot {
        a {
          text {

          }
        }
      }

      .icon {

      }
    }

    .area {
      .circles {

      }
    }

    .c1 {
      .row {
        .column-66 {
          .xlarge-font {
            b{
              font-size: 50px;
              font-family: "Lucida Calligraphy",sans-serif;
            }
          }

          .large-font {

          }

          p {
            span {

            }
          }

          button {

          }
        }

        .column-33 {
          img {

          }

          .modal {
            span {

            }

            .modal-content {
            }

            div {

            }
          }
        }
      }
    }

    .container {
      .row {
        .column-33 {
          img {

          }
        }

        .column-66 {
          .xlarge-font {

          }

          .large-font {

          }

          p {
            span {

            }
          }

          button {

          }
        }
      }
    }

    .azimjonsection {
      background-color: rgba(60, 60, 60, 0.7);

      .container {
        .row {
          .col_1 {
            h2 {
              text-align: center;
              font-family: "Arial Black", sans-serif;
              color: #c4c3c3;
              font-size: 5vw !important;

              span {
                color: #9b1b1b;
              }
            }

            h3 {
              font-size: 2vw;
              text-align: center;
              color: #c4c3c3;
              padding-bottom: 5%;
            }

            a {
              font-family: Dubai, sans-serif;
              margin-left: 13%;
              padding: 2% 12%;
              border: 2px solid #707070;
              font-size: 2vw;
              text-decoration: none;
              color: white;
            }

            a:hover {
              transition-duration: .5s;
              color: black;
              background-color: #707070;
            }
          }

          .col_2 {
            padding-left: 3%;

            a {
              img {
                width: 100%;
                height: 100%;
                position: relative;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 500px) {
      .azimjonsection {
        .container {
          .row {
            .col_1 {
              h2 {
                font-size: 40px;
              }

              h3 {
                font-size: 35px;
              }

              a {
                margin-top: 5px;
                font-size: 13px;
              }
            }

            .col_2 {
              margin-top: 15%;
              margin-left: 21px;
            }
          }
        }
      }
    }
  }




  footer{
    width: 100%;
    height: auto;
    .content{
      .div_first{
        .ul_1{
          li{
            margin: 0 auto;
            text-align: center;
            a{
              margin: 0 auto;
              img{
                max-width: 40px;
                max-height: 40px;
              }
            }
          }
        }
        .ul_2{
          li{
            margin: 0 auto;
            text-align: center;
          }
        }
      }
    }
  }
  @media screen and (max-width: 500px){
    footer{
      width: 100%;
      height: 100%;
      .content{
        .div_first{
          .ul_1{

          }
        }
      }
    }
  }
}







